body {
    font-family: 'Roboto',
        sans-serif;
}

.display {
    width: 50%;
}

.display img {
    width: 50%;
}

section {
    display: flex;
}

.top {
    background-image: url(image/Frame\ 58.jpg);
}